index index.php index.html;

location / {
    try_files $uri /index.php?$args;
}

location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    set $endpoint php-fpm;
    {{ if eq (getenv "XDEBUG_ENABLED") "1" }}
    if ($cookie_XDEBUG_SESSION != "")
    {
        set $endpoint xdebug-php-fpm;
    }
    {{ end }}
    fastcgi_pass $endpoint;
}
